$navbar-background-color: #1C6434;
$navbar-hover-color: #1C6434;
$navbar-hover-color2: rgb(0, 0, 0);
$button-color: #ec1b25;
$button-color-hover: #bd0b14;
$navbar-text-color: #fff;
$background-color: #ffffff;
$navbar-font-size: 1.2em;
$transition-hover: 0.3s;
$special-font: "Italiana";
$backup-font: "sans-serif";

$breakpoint-tablet: 768px;
